/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Patua One', cursive;
*/

//FONTS
$font-primary: 'Noto Sans', sans-serif;
$font-secondary: 'Patua One', cursive;

//COLORS
$color-black: #000;
$color-white: #eee;