.section__about {
    margin-top: 7.5rem;
    margin-bottom: 4.5rem;
 
    .icon-large {
        font-size: 3rem;
    }
 }
 
 .section__suits {
     margin-top: 7.5rem;
     margin-bottom: 4.5rem;
 }

 .section__boots {
    margin-top: 7.5rem;
    margin-bottom: 4.5rem;
}