nav {
    .navbar-brand {
        font-size: 3rem;

        .big {
            font-size: 4rem;
        }
    }

    .item-link {
        font-size: 1.75rem !important;
    }
}


.jumbotron {
    background-image: linear-gradient(rgba($color-black, .65), rgba($color-black, .65)), url(../../img/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 70vh;
    position: relative;

    &__copyBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: $font-primary;

        &--header {
            font-size: 7.5rem;
            font-weight: 700;
        }

        &--lead {
            font-size: 2.25rem;
        }
    }
}

.section__about {
   margin-top: 7.5rem;
   margin-bottom: 4.5rem;
   
   .icon-large {
       font-size: 4rem;
   }
}