.navbar {
    margin-bottom: 5rem;
    .navbar-brand {
        font-size: 3rem;

        .big {
            font-size: 4rem;
        }
    }

    .item-link {
        font-size: 1.75rem !important;
    }
}